{:output-wrapper false, :externs ["closure-js/externs"], :libs ["closure-js/libs"], :main trade-scratchpad.core, :asset-path "js/compiled/out_dir", :output-to "resources/public/js/compiled/trade_scratchpad.js", :output-dir "resources/public/js/compiled/out_dir", :optimizations :simple, :pretty-print false}