.hoverable > .hover-hidden {
	display: none;
}

.hoverable:hover > .hover-hidden {
	display: inline;
}

.CodeMirror {
	height: inherit !important;
}

p {
	font-size: 1.5rem;
}

pre code {
	border: none;
}

